body {
  padding: 50px;
  font: 25px "Garamond", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

/* Custom Button */
.custom-btn {
  width: 130px;
  height: 75px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-white {
  position: relative;
  color: white;
  z-index: 2;
  line-height: 40px;
  padding: 0;
  background: #222;
}
.btn-white:hover{
  border: none;
  cursor: pointer;
}
.btn-white:before,
.btn-white:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-white:before {
  top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: white;
   border-left-color: white;
}
.btn-white:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: white;
   border-right-color: white;
}
.btn-white:hover:before,
.btn-white:hover:after {
  border-color: white;
  height: 100%;
  width: 100%;
}

.btn-black {
  position: relative;
  color: #000;
  z-index: 2;
  line-height: 40px;
  padding: 0;
}
.btn-black:hover{
  border: none;
  cursor: pointer;
}
.btn-black:before,
.btn-black:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-black:before {
  top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: #000;
   border-left-color: #000;
}
.btn-black:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: #000;
   border-right-color: #000;
}
.btn-black:hover:before,
.btn-black:hover:after {
  border-color: #000;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.logo-like {
  font: 60px "Garamond";
  border-bottom: 2px solid #dc9e50
}

.main-land {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  background-image: url('../images/bgmain1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 85vh;
  width: 100%;
}

h2 {
  font-family: "Abril-Fatface";
  font-size: 80px;
}

.main-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "Domine";
  font-size: 35px;
}

.about {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 50px 0px;
}

.title {
  border-bottom: 2px solid #dc9e50;
  text-align: center;
}

.cta {
  width: 35%;
  color: white;
  height: 100px;
}

.cta button {
  width: 100%;
  height: 100px;
  font-size: 3vh;
}

.cta-about {
  width: 30%;
  color: white;
  height: 45px;
  margin-top: 20px
}

.cta-about button {
  width: 100%;
  height: 75px;
  font-size: 3vh;
}

.sub-land {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  background-image: url('../images/bgmain2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.sub-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.sub-div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-sub {
  width: 30%;
  color: white;
  height: 45px;
  margin-top: 20px
}

.cta-sub button {
  width: 100%;
  height: 75px;
  font-size: 3vh;
}

.sub-about {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.sub-div div {
  width: 30%;
}

.sub-div div a {
    display: none;
  }

.sub-div div button {
    display: none;
  }

.sub-div div p {
  text-align: justify;
}

.columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 35%;
  border-right: 2px solid #dc9e50;
  padding-right: 50px;
}

.mobile-survey {
  display: none !important;
}

footer {
  text-align: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  body {
    padding: 0px 10px;
    font-size: 2.5vh;
  }

  h2 {
    font-size: 4vh;
  }

  h3 {
    font-size: 3vh;
  }

  .logo-like {
  font: 80px
}
  .main-land {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .main-land h2 {
    text-align: center;
  }

  .main-land {
    padding-bottom: 25px;
  }

  .main-land div h3 {
    text-align: center;
  }

  .about {
    padding: 0px 10px;
    padding-bottom: 20px;
    height: auto;
  }

  .cta-about {
    height: 75px;
  }

  .sub-land h2 {
    margin: 15px 0px;
  }

  .sub-div {
    flex-direction: column;
  }

  .sub-about {
    align-items: center;
  }

  .sub-about div {
    width: 75%;
  }

  .survey-wrapper .columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact-info {
    width: 100%;
    border-right: 0;
    padding-right: 0px;
  }

  .mobile-survey {
    display: block !important;
  }

  .desktop-survey {
    display: none !important;
  }
  
  .sub-land .cta-sub {
      display: none;
    }
  
  .sub-land .cta-sub button {
      display: none;
  }

  .sub-div div {
    width: 100%;
  }

  .sub-div div img {
    width: 240px;
    height: 400px;
  }

  .sub-div .cta-mini {
    display: block;
    height: 75px;
  }

  .sub-div .cta-mini button {
    display: block;
  }

  a:not(.sk_survey) {
    width: 60% !important;
  }

  button {
    width: 100% !important;
  }
}
