body {
  padding: 50px;
  font: 25px "Garamond", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.logo-like {
  font: 60px "Garamond";
  border-bottom: 2px solid #dc9e50
}

.main-land {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  background-image: url('../images/bgmain1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 85vh;
  width: 100%;
}

h2 {
  font-family: "Abril-Fatface";
  font-size: 80px;
}

.main-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "Domine";
  font-size: 35px;
}

.about {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 50px 0px;
}

.title {
  border-bottom: 2px solid #dc9e50;
  text-align: center;
}

.cta {
  width: 35%;
  color: white;
  height: 100px;
}

.cta button {
  color: white;
  background: #222;
  width: 100%;
  height: 100px;
  font-size: 3vh;
}

.cta button:hover {
  background: #444;
  cursor: pointer;
}

.cta-about {
  width: 30%;
  color: white;
  height: 45px;
  margin-top: 20px
}

.cta-about button {
  color: white;
  background: #222;
  width: 100%;
  height: 75px;
  font-size: 3vh;
}

.cta-about button:hover {
  background: #444;
  cursor: pointer;
}

.sub-land {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  background-image: url('../images/bgmain2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.sub-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.sub-div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-sub {
  width: 30%;
  color: white;
  height: 45px;
  margin-top: 20px
}

.cta-sub button {
  color: white;
  background: #222;
  width: 100%;
  height: 75px;
  font-size: 3vh;
}

.cta-sub button:hover {
  background: #444;
  cursor: pointer;
}

.sub-about {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.sub-div div {
  width: 30%;
}

.sub-div div a {
    display: none;
  }

.sub-div div button {
    display: none;
  }

.sub-div div p {
  text-align: justify;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 35%;
  border-right: 2px solid #dc9e50;
  padding-right: 50px;
}

.mobile-survey {
  display: none !important;
}

footer {
  text-align: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  body {
    padding: 0px 10px;
  }

  .logo-like {
  font: 80px
}
  .main-land {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-land h2 {
    text-align: center;
  }

  .main-land {
    padding-bottom: 25px;
  }

  .main-land div h3 {
    text-align: center;
  }

  .about {
    padding: 0px 10px;
    padding-bottom: 20px;
    height: auto;
  }

  .cta-about {
    height: 75px;
  }

  .sub-land h2 {
    margin: 15px 0px;
  }

  .sub-div {
    flex-direction: column;
  }

  .sub-about {
    align-items: center;
  }

  .sub-about div {
    width: 75%;
  }

  .survey-wrapper .columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    width: 100%;
    border-right: 0;
    padding-right: 0px;
  }

  .mobile-survey {
    display: block !important;
  }

  .desktop-survey {
    display: none !important;
  }
  
  .sub-land .cta-sub {
      display: none;
    }
  
  .sub-land .cta-sub button {
      display: none;
  }

  .sub-div div {
    width: 100%;
  }

  .sub-div .cta-mini {
    display: block;
    height: 75px;
  }

  .sub-div .cta-mini button {
    display: block;
  }

  h2 {
    font-size: 50px;
  }

  a:not(.sk_survey) {
    width: 80% !important;
  }

  button {
    width: 80% !important;
  }

}
